* {
    padding:0;
    margin:0;
}
#logo {
    height : 70px;
    width : auto;
    padding-top: 10px;
    position: fixed;
}

ul,ol {
    list-style:none;
}

.nav_text {
    text-decoration:none;
    color:#000000;
    font-size:16px;
}

.nav_text:hover {
    color : #269402;
}
  
.nav_text:active {
    color : #269402;
}

#nav2 {
    background-color: #ffffff;
    height: 80.8px;
    width: 100%;
    position: fixed;
    z-index: 1; 
    
}

#nav2>a {
    display: block; /* a태그는 글자성격 = inline */
    float: left;
    line-height: 80px;
    padding: 0px;
    height: 100px;
}

#nav2>ul {
    float: right;
    right: 20px;
    
}

#nav2>ul li {
    float: left;
    padding: 0 30px;
    line-height: 80px;
    font-size: 10px;
}

.masthead {
    padding-top: 80.8px;
}

video.bg-video {
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: 2;
    
} 

#scroll-button{
    background-color: #269402;/* 배경색상 설정 */
    color: white; /* 글자색 설정 */
    padding: 20px 10px; /* 내부 여백 설정 */
    border-radius: 100px; /* 테두리 반경 설정 */
    text-decoration: none; /* 밑줄 제거 */
    width: 280px;
    top: 500px; /* 상단 여백 설정 */
    left: 100px; /* 좌측 여백 설정 */
    font-size: 30px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#scroll-button:hover { /*아이콘이 천천히 확대 + 동시에 배경색 색칠*/
    transform: scale(1.1); /*아이콘이 1.1배로 확대*/
    background-color: #269402;
    filter: brightness(85%); /*아이콘의 진한 정도를 조절*/
}

.bod {
    border: 2px solid black;
    padding-top: 80.8px;
    height: 950px;
}

#head {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: auto;
 }

#bod_mid {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }

#bod_midmid {
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
#bod_mid img,
#bod_midmid img {
    margin: 0;
    padding: 0;
  }

#shoulder{
    top: 0;
    width: 182px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#chest {
    top: 0;
    width: 99px;
    height: 100px;
    vertical-align:middle;
    margin-bottom: auto;
    border: 2px solid black;
    
}

#belly {
    top: 0;
    width: 99px;
    height: 100px;
    vertical-align:middle;
    border: 2px solid black;
}

#important {
    top: 0;
    width: 100px;
    height: 90px;
    vertical-align:middle;
    border: 2px solid black;

}

#leftarm {
    float: left;
    top: 0; 
    width: 108px;
    height: auto;
}

#rightarm {
    top: 0; 
    width: 108px;
    height: auto;
}

#heobukji {
    top: 0;
    width: 143px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#knee {
    top: 0;
    width: 122px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#jongari {
    top: 0;
    width: 125.7px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ankle {
    top: 0;
    width: 106px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#foot{
    top: 0;
    width: 156px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bod>h3 {
    font-size: 80px;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 0.1em;
}

.popup {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(80%, -440%);
    width: 210px;
    height: 190px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
  }

.popup>h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 50px;
    font-family: 'GongGothicMedium';

}

.popup>li {
    font-size: 25px;
}

.popup>p {
    margin: 8px;
}

.li_text {
    font-size: 25px;
    font-family: 'TTWanjunuricheR';
    text-decoration: none;
}
.introduction h1 {
    font-size: 3.75em;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 16px;
    font-family: 'GongGothicMedium';
    letter-spacing: 0.05em;
}
.introduction h2 {
    font-size: 1.875em;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 64px;
    font-weight: 400;
    font-style: italic;
    color:#6c757d;
    font-family: 'TTWanjunuricheR';
}
.team {
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
    margin: 80px;
}
.rounded-circle{
    border-radius: 50%;
}

.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 31.275px;
    font-family: 'GongGothicMedium';
    letter-spacing: 0.05em;
}

.TTWanjunuricheR {
    font-family: 'TTWanjunuricheR';
    color:#6c757d
}

/*클닷 슬로건*/
.clickdots_intro{
    font-weight: bold;
    text-align: center;
    color:#6c757d;
    margin-bottom: 20px;
}
 /*footer css*/
.footer {
    padding: 1rem 0;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1em;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} 
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-column {
    flex: 1;
}
  
.footer-links {
    display: flex;
    justify-content: flex-end;
}
  
.footer-link {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
}